source/airrohr-node-red_flow.json
[{"id":"5fe22872.5067e8","type":"http in","z":"a34dfc41.cc6af","name":"Airrohr API","url":"/EEMM","method":"post","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["18068a7e.e1ab46","e3899b96.edaa58","a68cde6.89d342","98a17d4a.920ee","44c68bd8.31e804"]]},{"id":"18068a7e.e1ab46","type":"http response","z":"a34dfc41.cc6af","name":"","statusCode":"","headers":{},"x":430,"y":320,"wires":[]},{"id":"e3899b96.edaa58","type":"change","z":"a34dfc41.cc6af","name":"PM10 Sensor SDS011","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensordatavalues[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":160,"wires":[["725a5363.fadeec"]]},{"id":"a68cde6.89d342","type":"change","z":"a34dfc41.cc6af","name":"PM2.5 Sensor SDS011","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensordatavalues[1].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["725a5363.fadeec"]]},{"id":"98a17d4a.920ee","type":"change","z":"a34dfc41.cc6af","name":"Preasure Sensor BMP280","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensordatavalues[2].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["725a5363.fadeec"]]},{"id":"44c68bd8.31e804","type":"change","z":"a34dfc41.cc6af","name":"Temperature Sensor BMP280","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensordatavalues[3].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["725a5363.fadeec"]]},{"id":"db6a01ab.b23c4","type":"comment","z":"a34dfc41.cc6af","name":"Particulate matter sensor","info":"","x":190,"y":140,"wires":[]},{"id":"725a5363.fadeec","type":"debug","z":"a34dfc41.cc6af","name":"kk","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"EEMM","targetType":"msg","x":870,"y":240,"wires":[]}]